---
title: home
---
<div class="right">
  <div class="home-content">
    <div class="blog-content">
      <ul class="archive_lidt">
        <li class="archive_post">
          <a href="/blog/2014/06/05/middleman-snippets/">
            <time>Jun  5, 2014</time>
            <h2>middleman snippets</h2>
            <p>Snippets 'n stuff for ERB templating in Middleman.</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/12/06/sass-media-query-helper-for-designers/">
            <time>Dec  6, 2013</time>
            <h2>sass media query helper for designers</h2>
            <p>A configurable design tool that displays the current min-width media query in the bottom right corner of your screen and updates as you re-size the browser window.</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/10/06/boilerplate/">
            <time>Oct  6, 2013</time>
            <h2>boilerplate</h2>
            <p>A front-end tool for generating static sites with Grunt, Bower, Assemble, Sass, Bourbon, Bourbon Neat.</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/05/13/omega-reset-for-bourbon-neat/">
            <time>May 13, 2013</time>
            <h2>omega reset for bourbon neat</h2>
            <p>A Sass mixin for Bourbon Neat that let's you change the number of columns at any breakpoint.</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/05/01/svg-support-for-jekyll/">
            <time>May  1, 2013</time>
            <h2>SVG support for Jekyll</h2>
            <p>Setting up a new Jekll site? Here's how to get SVGs working.</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/04/15/ios7-orientation-zoom-bug-fix/">
            <time>Apr 15, 2013</time>
            <h2>iOS orientation zoom bug fix</h2>
            <p>Need I say more?</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/03/10/png-compression-from-the-command-line/">
            <time>Mar 10, 2013</time>
            <h2>png compression from the command line</h2>
            <p>Optimize your images without leaving your shell</p>
          </a>
        </li>
        <li class="archive_post">
          <a href="/blog/2013/02/05/use-pow-with-ios-devices/">
            <time>Feb  5, 2013</time>
            <h2>use pow with ios devices</h2>
            <p>View your local site on iOS with POW</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
