// -------------------------------------------------------------------
// Author
// -------------------------------------------------------------------

.container {
  @include outer-container;
  padding: 0 $base_line_height;
}

body {
  background-color: rgba(193, 193, 197, 0.0);
  height: 100%;
}

.left {
  position: top;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(/assets/img/80spattern.jpg);
  background-position: left;
  background-size: 205px;
  @include media(25em) {
    padding: 0 15%;
  }
  @include media(35em) {
    padding: 0 20%;
  }
  @include media(40em) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // right: 420px;
  right: 60%;
  padding: 0;
}
  @include media(50em) {
    right: 65%;
  }
  @include media(60em) {
    right: 70%;
  }
  @include media(70em) {
    right: 75%;
  }
  @include media(80em) {
    right: 80%;
  }
}

.right {
  margin: 0 auto;
  @include media(40em) {
    margin-left: 36%;
  }
  @include media(50em) {
    margin-left: 33%;
  }
  @include media(60em) {
    margin-left: 26%;
  }
  @include media(70em) {
    margin-left: 17%;
  }
  @include media(80em) {
    margin-left: 5%;
  }
}

.site-header {
  padding: 0 20%;

}

.site-header img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.site-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  @include media(40em) {
  margin-bottom: 0;
  margin-top: 20px;
  }
}

.site-header h1 a {
  font-weight: 700;
  color: rgba(255, 255, 44, 1);
  text-shadow: 4px 1px 0px #C145FF;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.site-header h1 a:hover {
  text-shadow: 4.5px 1px 0px rgba(255, 0, 255, 0.4);
}

// #FF4AC9
.site-header p {
  color: #444;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: -35px;
  @include media(40em) {
    margin-bottom: 0;
  }
}

.social {
  text-align: center;
  margin-top: 40px;
}

.social ul {
  padding: 0 40px;
  height: 100%;
  width: 100%;
}

.social ul li {
  list-style-type: none;
  text-align: center;
  display: block;
  padding: 7px 0;

}

.social a {
  color: #444;
  background-color:rgba(255, 255, 44, 1);
  display: block;
  padding: 5px 10px;
  border-radius: 25px;
  box-shadow: 4.5px 3px 0px rgba(0, 150, 255, 1);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 150, 255, 1);
  box-shadow: 4.5px 3px 0px rgba(255, 255, 44, 1);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.copyright {
  padding-top: 0px;
  padding-left: 28%;
  padding-bottom: 3px;
  @include media(40em) {
  padding-top: 80px;

}
}

.copyright a {
  color: rgba(0, 150, 255, 1);
}


// Blog page css

.home-content {
  text-align: left;
  display: inline;
}

.home-content p {
  color: #777;
  margin-bottom: 0px;
}

.blog-content {
  text-align: left;
}

.blog-content ul li {
  list-style-type: none;

}

.blog-content ul li a h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(0, 150, 255, 1);
  text-shadow: 0px 0px 0px rgba(0, 255, 105, 0.4);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.blog-content ul li a h2:hover {
  color: rgba(0, 150, 255, 1);
  text-shadow: 2px 1px 0px rgba(255, 0, 255, 0.3);
}

.blog-content li a time {
  color: #777;
}

.blog-content li p {
  margin-top: 0;
  margin-bottom: 30px;
  color: #777;
}

.blog-content ul li a time {
  font-weight: bold;
}







